{% load static %}
<!--==================== INICIO DEL FOOTER  ====================-->
<footer class="border-top">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="https://twitter.com/heyissac"> <!-- Link que redirige a mi twitter -->
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i> <!-- logo de twitter -->
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/profile.php?id=100068142570350&is_tour_dismissed=true"> <!-- Lingk de referencia a mi pagina de facebook -->
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i> <!--Logo de facebook-->
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/Heyissac"> <!--Link de referencia para el instagram-->
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-github fa-stack-1x fa-inverse"></i> <!--Logo de github-->
                            </span>
                        </a>
                    </li>
                </ul>
                    <div class="small text-center text-muted fst-italic">Copyright &copy {% now 'Y' %}; Todos los derechos reservados. </div> <!--Copyright-->
            </div>
        </div>
    </div>
</footer>
<!--==================== FIN DEL FOOTER ====================-->